<?xml version="1.0"?>
<launch>
    <arg name="map" value="$(find robile_ros_navigation)/examples/real_robot/map/empty.yaml"/>
    
    <!-- Start Drivers -->
    <include file="$(find kelo_tulip)/launch/example_joypad.launch"/>
    <!-- ADD SENSOR DRIVER HERE -->

    <!-- Start TF -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find robile_description)/robots/4_wheel_lidar_config.urdf.xacro'"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
        <param name="publish_frequency" type="double" value="50.0"/>
        <param name="tf_prefix" type="string" value=""/>
    </node>

    <!-- Start map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"/>

    <!-- Start AMCL -->
    <include file="$(find robile_ros_navigation)/examples/real_robot/launch/amcl.launch">
        <arg name="init_pos_x" value="0.0"/>
        <arg name="init_pos_y" value="0.0"/>
        <arg name="init_yaw" value="0.0"/>
    </include>

    <!-- Start move base -->
    <include file="$(find robile_ros_navigation)/examples/real_robot/launch/move_base.launch"/>
</launch>

