<?xml version="1.0"?>
<launch>
    <arg name="platform_name" default = "4_wheel_lidar_platform"/>

    <!-- ROBOT SPAWN POSE -->
    <arg name="init_pos_x" default="0.0"/>
    <arg name="init_pos_y" default="0.0"/>
    <arg name="init_pos_z" default="0.0"/>
    <arg name="init_yaw" default="0.0"/>

    <arg name="world_model_name" default="empty"/>
    <arg name="maps_dir" default="$(find robile_ros_navigation)/examples/gazebo_simulation/map" />
    <arg name="map" default="$(arg maps_dir)/$(arg world_model_name).yaml"/>

    <arg name="rviz_config" default="$(find robile_ros_navigation)/examples/gazebo_simulation/rviz/simulation.rviz" />

    <!-- Spawn robile in empty world -->
    <include file="$(find robile_gazebo)/launch/platform_independent/simulation.launch" pass_all_args="true"/>

    <!-- Spawn the world model -->
    <param name="world_description"
           command="$(find xacro)/xacro '$(arg maps_dir)/$(arg world_model_name).xacro'"/>
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_world" respawn="false"
          output="screen" args="-param world_description -urdf -model world"/>

    <!-- Start map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"/>

    <!-- Start AMCL -->
    <include file="$(find robile_ros_navigation)/examples/gazebo_simulation/launch/amcl.launch">
        <arg name="init_pos_x" value="-1.0"/>
        <arg name="init_pos_y" value="0.25"/>
        <arg name="init_yaw" value="0.0"/>
    </include>
    
    <!-- Start move base -->
    <include file="$(find robile_ros_navigation)/examples/gazebo_simulation/launch/move_base.launch"/>
</launch>
