<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="world" >

    <xacro:property name="stl_scale_x" value="35.0" />
    <xacro:property name="stl_scale_y" value="35.0" />
    <xacro:property name="stl_scale_z" value="35.0" />

    <link name="base_link"/>

    <joint name="world_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="world_link"/>
    </joint>

    <link name="world_link">
        <visual>
            <geometry>
                <mesh filename="package://robile_ros_navigation/examples/gazebo_simulation/map/empty.stl"
                      scale="${stl_scale_x} ${stl_scale_y} ${stl_scale_z}"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://robile_ros_navigation/examples/gazebo_simulation/map/empty.stl"
                      scale="${stl_scale_x} ${stl_scale_y} ${stl_scale_z}"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="12000.0" />
            <inertia ixx="1000.0"
                     iyy="1000.0"
                     iyz="0.0" ixy="0.0" ixz="0.0"
                     izz="1000.0" />
        </inertial>
    </link>

</robot>
