<launch>

	<!-- start the hokuyo node -->
	<node type="hokuyo_node" pkg="hokuyo_node" name="hokuyo_node">  
		<param name="min_ang" type="double" value="-1.3" />
		<param name="max_ang" type="double" value="1.3" />
		<remap from="/scan" to="/base_scan"/>
		<param name="port" type="string" value="/dev/sensors/hokuyo"/>
	</node>
	
</launch>
